.loginWrapper{
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  input{
    background-color: antiquewhite;
    margin: 10px;
  }
  .rememberMe{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
  }
}