.pagination{
  display: flex;
  list-style-type: none;
  li{
    color: #c4c4c4;
    transition: 0.1s;
    &:global{
      &.selected{
        color: #FF9966;
      }
    }
    font-size: 24px;
    margin: 5px;
    cursor: pointer;
    &:hover{
      color: black;
      transition: 0.1s;
    }
  }
}